/* - - - - - G R I D - - - - - */
:host{
	display: grid;
	grid-template-columns: 75px;
	grid-template-rows: auto 2fr 1fr;
	justify-items: center;
	align-items: center;
}
h2{
	align-self: start;
}
/* - - - - E N D - G R I D - E N D - - - - */

/* - - - - - S T Y L E S - - - - - */
:host{
	max-height: 210px;
}
h3{
	font-size: 2em;
}
/* - - - - E N D - S T Y L E S - E N D - - - - */

/* - - - - - R E S P O N S I V E - - - - - */
@media screen and (max-width: 600px){
	h2, h3{
		font-weight: normal;
	}
}
/* - - - - E N D - R E S P O N S I V E - E N D - - - - */