<div class="background" [style]="background"></div>
<div class="appContainer" [style]="background">
	<section class="place">
		<h1>Weather App</h1>
		<h2>BUENOS AIRES</h2>
		<h3>{{data.dataseries[hour].temp2m}}°C</h3>
	</section>
	<section class="info">
		<article>
			<img src="../assets/icons/water.svg" alt="">
			<p>Humidity</p>
			<p>{{data.dataseries[hour].rh2m}}%</p>
		</article>
		<article>
			<img src="../assets/icons/airpressure.svg" alt="">
			<p>Air Pressure</p>
			<p>{{data.dataseries[hour].msl_pressure}}</p>
		</article>
		<article>
			<img src="../assets/icons/snow.svg" alt="">
			<p>Snow depth</p>
			<p>{{data.dataseries[hour].snow_depth}} cm</p>
		</article>
		<article>
			<img src="../assets/icons/wind.svg" alt="">
			<p>Wind Speed</p>
			<p>{{data.dataseries[hour].wind10m.speed}} km/h</p>
		</article>
	</section>
	<section class="cards">
		<ng-container *ngFor="let items of data.dataseries.slice(hour, hour+8); let i = index">
			<app-card *ngIf="i < 8" [timepoint]="items.timepoint" [temp]="items.temp2m" [weather]="items.weather"></app-card>
		</ng-container>
	</section>
</div>