<div class="background"></div>
<div class="appContainer">
	<section class="place">
		<h1>Weather App</h1>
		<h2>Buenos Aires</h2>
		<h3>{{data.dataseries[0].temp2m}}°C</h3>
	</section>
	<section class="info">
		<article>
			<img src="../assets/icons/water.svg" alt="">
			<p>Humidity</p>
			<p>{{data.dataseries[0].rh2m}}</p>
		</article>
		<article>
			<img src="../assets/icons/airpressure.svg" alt="">
			<p>Air Pressure</p>
			<p>1009.5 PS</p>
		</article>
		<article>
			<img src="../assets/icons/rain.svg" alt="">
			<p>Chance of rain</p>
			<p>0%</p>
		</article>
		<article>
			<img src="../assets/icons/wind.svg" alt="">
			<p>Wind Speed</p>
			<p>{{data.dataseries[0].wind10m.speed}} km/h</p>
		</article>
	</section>
	<section class="cards">
		<h4>{{data.dataseries[0].cloudcover}}</h4>
	</section>
</div>